.event-list {
    max-height: 500px;
    overflow-y: auto;
}

    .event-list > .event {
        background-color: var(--control-bg);
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
    }

        .event-list > .event > p {
            margin: 0;
            font-size: 20px;
            padding: 0 10px;
        }

        .event-list > .event > *:first-child {
            padding-top: 10px;
        }

        .event-list > .event > *:last-child {
            padding-bottom: 10px;
        }

        .event-list > .event > p > span {
            float: right;
            font-size: 15px;
            line-height: 20px;
        }

        .event-list > .event > .msg {
            font-size: 18px;
        }
