﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|League+Script|Quicksand|Tulpen+One|Wire+One|Audiowide|Changa|Fugaz+One|Lobster|News+Cycle|Nothing+You+Could+Do|Press+Start+2P|Rajdhani|Righteous|Sarpanch&amp;display=swap');
/* Global Application */
* {
    transition: 0.3s all linear;
    font-family: 'News Cycle', sans-serif;
    user-select: none;
}

html,
body {
    margin: 0;
    height: 100%;
    background: transparent;
}

.main-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
